/*COLORS-------------------------------------------------------------------
--------------------------------------------------------------------------*/
/*Fin COLORS---------------------------*/
html {
  scroll-behavior: smooth; }

.textoCentrado {
  text-align: center; }

.estiloParrafos {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  color: black; }
  .estiloParrafos--blanco {
    color: white;
    font-size: 24px; }
  .estiloParrafos--blue4 {
    color: #127685; }
  .estiloParrafos--blue6 {
    color: #0C4D56; }

.noWrap {
  display: flex;
  flex-wrap: nowrap; }

.titulosSecundarios, .titulosPrincipales, .titulosSecundariosAzul {
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: white;
  font-style: italic; }

.flexEnd {
  display: flex;
  justify-content: flex-end; }

.dontStretch {
  object-fit: cover; }

.bordesRedon {
  border-radius: 12px; }

.bordesRedon2 {
  border-radius: 7px; }

.fuenteAlineare {
  font-family: 'Lobster', cursive;
  color: #1CB8D0;
  text-transform: capitalize;
  font-style: normal;
  padding: 0px;
  border-style: none; }

.titulosPrincipales {
  font-size: 35px; }

.titulosSecundariosAzul {
  font-size: 35px;
  color: #106571; }

.centrarItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0px; }

.centrarItemsCol {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.whiteHover a:hover {
  color: white;
  text-decoration: none; }

.mulish {
  font-family: 'Mulish', sans-serif; }

.eliminarBullets {
  list-style: none; }

/*-----MARGENES Y PADDINGS-------------------------------------------------------->>>*/
.paddingTop0 {
  padding-top: 0px; }

.paddingTop1 {
  padding-top: 20px; }

.paddingTop2 {
  padding-top: 40px; }

.paddingTop3 {
  padding-top: 60px; }

.paddingTop4 {
  padding-top: 80px; }

.paddingTop5 {
  padding-top: 100px; }

.paddingTop6 {
  padding-top: 120px; }

.paddingTop7 {
  padding-top: 140px; }

.paddingTop8 {
  padding-top: 160px; }

.paddingTop9 {
  padding-top: 180px; }

.paddingBott0 {
  padding-bottom: 0px; }

.paddingBott1 {
  padding-bottom: 20px; }

.paddingBott2 {
  padding-bottom: 40px; }

.paddingBott3 {
  padding-bottom: 60px; }

.paddingBott4 {
  padding-bottom: 80px; }

.paddingBott5 {
  padding-bottom: 100px; }

.paddingBott6 {
  padding-bottom: 120px; }

.paddingBott7 {
  padding-bottom: 140px; }

.paddingBott8 {
  padding-bottom: 160px; }

.paddingBott9 {
  padding-bottom: 180px; }

.paddingL0 {
  padding-left: 0px; }

.paddingL1 {
  padding-left: 20px; }

.paddingL2 {
  padding-left: 40px; }

.paddingL3 {
  padding-left: 60px; }

.paddingL4 {
  padding-left: 80px; }

.paddingL5 {
  padding-left: 100px; }

.paddingL6 {
  padding-left: 120px; }

.paddingL7 {
  padding-left: 140px; }

.paddingL8 {
  padding-left: 160px; }

.paddingL9 {
  padding-left: 180px; }

.paddingR0 {
  padding-right: 0px; }

.paddingR1 {
  padding-right: 20px; }

.paddingR2 {
  padding-right: 40px; }

.paddingR3 {
  padding-right: 60px; }

.paddingR4 {
  padding-right: 80px; }

.paddingR5 {
  padding-right: 100px; }

.paddingR6 {
  padding-right: 120px; }

.paddingR7 {
  padding-right: 140px; }

.paddingR8 {
  padding-right: 160px; }

.paddingR9 {
  padding-right: 180px; }

.marginTop0 {
  margin-top: 0px; }

.marginTop1 {
  margin-top: 20px; }

.marginTop2 {
  margin-top: 40px; }

.marginTop3 {
  margin-top: 60px; }

.marginTop4 {
  margin-top: 80px; }

.marginTop5 {
  margin-top: 100px; }

.marginTop6 {
  margin-top: 120px; }

.marginTop7 {
  margin-top: 140px; }

.marginTop8 {
  margin-top: 160px; }

.marginTop9 {
  margin-top: 180px; }

.marginBott0 {
  margin-bottom: 0px; }

.marginBott1 {
  margin-bottom: 20px; }

.marginBott2 {
  margin-bottom: 40px; }

.marginBott3 {
  margin-bottom: 60px; }

.marginBott4 {
  margin-bottom: 80px; }

.marginBott5 {
  margin-bottom: 100px; }

.marginBott6 {
  margin-bottom: 120px; }

.marginBott7 {
  margin-bottom: 140px; }

.marginBott8 {
  margin-bottom: 160px; }

.marginBott9 {
  margin-bottom: 180px; }

.marginL0 {
  margin-left: 0px; }

.marginL1 {
  margin-left: 20px; }

.marginL2 {
  margin-left: 40px; }

.marginL3 {
  margin-left: 60px; }

.marginL4 {
  margin-left: 80px; }

.marginL5 {
  margin-left: 100px; }

.marginL6 {
  margin-left: 120px; }

.marginL7 {
  margin-left: 140px; }

.marginL8 {
  margin-left: 160px; }

.marginL9 {
  margin-left: 180px; }

.marginR0 {
  margin-right: 0px; }

.marginR1 {
  margin-right: 20px; }

.marginR2 {
  margin-right: 40px; }

.marginR3 {
  margin-right: 60px; }

.marginR4 {
  margin-right: 80px; }

.marginR5 {
  margin-right: 100px; }

.marginR6 {
  margin-right: 120px; }

.marginR7 {
  margin-right: 140px; }

.marginR8 {
  margin-right: 160px; }

.marginR9 {
  margin-right: 180px; }

/*-----IMAGENES------------------------------------------------------------------>>>*/
/*-----COLORES TEXTO, BACKGROUNDS, SOMBRAS--------------------------------------->>>*/
.fondo1 {
  background-color: #0C4C55; }

.fondo2 {
  background-image: linear-gradient(to bottom, white, #1AA8BD, #0C4C55); }

.fondoPaginas {
  background-color: white;
  background-size: 100%; }

.colorTexto-blue--1 {
  color: #1CB6CE; }

.colorTexto-blue--2 {
  color: #18A0B5; }

.colorTexto-blue--3 {
  color: #168D9F; }

.colorTexto-blue--4 {
  color: #127685; }

.colorTexto-blue--5 {
  color: #106571; }

.colorTexto-blue--6 {
  color: #0C4D56; }

.colorTexto-grayScale--white {
  color: white; }

.colorTexto-grayScale--1 {
  color: #E6E6E6; }

.colorTexto-grayScale--2 {
  color: #CCCCCC; }

.colorTexto-grayScale--3 {
  color: #B3B3B3; }

.colorTexto-grayScale--4 {
  color: #999999; }

.colorTexto-grayScale--5 {
  color: #808080; }

.colorTexto-grayScale--6 {
  color: #666666; }

.colorTexto-grayScale--7 {
  color: #4D4D4D; }

.colorTexto-grayScale--8 {
  color: #333333; }

.colorTexto-grayScale--9 {
  color: #1A1A1A; }

.colorTexto-grayScale--black {
  color: black; }

.articulos__estilo {
  color: white;
  font-weight: 300; }
  .articulos__estilo--blanco {
    background-image: white;
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul1 {
    background-image: linear-gradient(to bottom, white, #1CB6CE);
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul1Invertido {
    background-image: linear-gradient(to bottom, #1CB6CE, white);
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul2 {
    background-color: #18A0B5;
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul3 {
    background-color: #168D9F;
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul4 {
    background-color: #127685;
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul5 {
    background-color: #106571;
    padding-top: 50px;
    background-size: 100%; }
  .articulos__estilo--azul6 {
    background-color: #0C4D56;
    padding-top: 50px;
    background-size: 100%; }

.sombra1 {
  text-shadow: white 2px 2px 5px; }

.sombra2 {
  text-shadow: #0C4D56 2px 2px 2px; }

.boxShadow a:hover {
  box-shadow: 5px -5px 27px #0C4D56; }

/*-----Animaciones--------------------------------------------------------------->>>*/
.animatedhover {
  animation-play-state: paused; }

.animatedhover:hover {
  animation-play-state: running; }

/*NAV----------------------------------------------------------------------
--------------------------------------------------------------------------*/
.logoNav {
  background: no-repeat;
  padding: 0px; }

.gradienteNav {
  background-image: linear-gradient(to right, white, #1CB8D0, #0C4C55); }

.ubicacionLogo {
  padding-left: 20px; }

.menuNav {
  display: flex;
  justify-content: flex-end;
  padding-right: 250px;
  padding-left: 250px; }

.fuenteNav {
  color: white;
  padding: 0px;
  font-size: 16px; }

.stickyNav {
  position: sticky;
  z-index: 999;
  top: 0px; }

.paddingNav {
  padding-left: 0px;
  padding-right: 0px; }

.gradienteSubmenu {
  background-image: linear-gradient(to bottom, #1AA8BD, #0C4C55); }

.colorSubmenu {
  color: white; }

.dropdown-left {
  left: -450%; }

/*Fin NAV-------------------------------*/
/*COLORS-------------------------------------------------------------------
--------------------------------------------------------------------------*/
/*Fin COLORS---------------------------*/
/*RRSS---------------------------------------------------------------------
-------------------------------------------------------------------------*/
.whatsapp {
  position: fixed;
  top: 550px;
  right: 50px;
  display: flex;
  justify-content: flex-end;
  z-index: 999999;
  border-radius: 50px; }

.rrss {
  display: flex;
  align-content: flex-start;
  padding: 10px;
  flex-direction: column; }
  .rrss__logos {
    padding: 7px;
    width: 30px; }
    .rrss__logos--nav {
      transform: translate(200px);
      display: flex;
      flex-direction: row; }

/*Fin RRSS-----------------------------*/
/*INDEX---------------------------------------------------------------------
---------------------------------------------------------------------------*/
.cartel {
  background-image: url(../images/chuttersnap-gts_Eh4g1lk-unsplash.jpg);
  background-size: 100%;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 55px;
  font-style: italic;
  font-weight: 600;
  padding: 90px;
  padding-left: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0px; 
}

.linkCartel {
  display: inline-block;
  position: absolute;
  transform: translate(1076px, -80px);
  background-color: #0C4C55;
  color: white;
  border: solid 1px white;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px; }

.transicionBotonCartel {
  transition: all 2s; }

.transicionBotonCartel:hover {
  border: 1px #0C4C55 solid;
  background-color: white;
  background-size: 100%;
  text-decoration: none;
  color: #0C4C55;
  font-weight: 300; }

.fondoTurno {
  background-image: url(../assets/img/agenda2.jpeg);
  background-size: 100%;
  margin-top: 0px;
  padding-bottom: 40px; }

.quienesSomosFuente {
  font-family: 'Mulish', sans-serif;
  font-size: 35px;
  font-weight: 300;
  color: white;
  padding-top: 3px; }

.fondoQuienesSomos {
  background-image: url(../assets/img/equipo5.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0px;
  padding-bottom: 437px; }

.textoConoce {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  font-style: italic; }

.horarios {
  text-align: left;
  font-weight: 600;
  color: #DFDFDF; }
  .horarios--colorHora {
    font-weight: 500;
    color: #949494; }
  .horarios--colorHoraFinde {
    font-weight: 500;
    color: #636363; }

.marginQuienesSomos {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 24px; }

.paddingFotoQuienesSomos {
  padding-right: 0px;
  padding-left: 0px; }

.equipoIndex {
  background-image: url(../assets/img/fondoequipo11.jpg);
  background-size: 100%; }

.paddingQuienesSomos {
  padding-top: 10px; }

/*Fin INDEX-----------------------------*/
/*FOOTER-----------------------------------------------------------------
------------------------------------------------------------------------*/
.textoFooter {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  font-style: italic;
  padding-bottom: 10px;
  text-align: left;
  margin-bottom: 0px; }
  .textoFooter--small, .textoFooter--small--centrado, .textoFooter--xsmall, .infoContacto {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 1px; }
  .textoFooter--small--centrado, .textoFooter--xsmall {
    text-align: center; }
  .textoFooter--xsmall {
    font-size: 11px; }

.gradienteFooter {
  background-image: linear-gradient(to right, #158899, #0C4C55, #031214);
  margin-top: 0px; }

.logoFooter {
  background-repeat: no-repeat;
  padding: 10px;
  opacity: 0.5;
  padding-top: 0px;
  padding-bottom: 0px; }

/*Fin FOOTER----------------------------*/
/*PROFESIONALES-----------------------------------------------------------
------------------------------------------------------------------------*/
.encabezados {
  padding-top: 30px; }

/*Fin PROFESIONALES---------------------*/
/*TRATAMIENTOS------------------------------------------------------------
------------------------------------------------------------------------*/
.gridTratamientos {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  text-align: center; }

.portadasTratTips__fondo {
  background-size: 100%;
  border-radius: 5px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 90px;
  padding-top: 70px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none; }
  .portadasTratTips__fondo--tablerosdigitales {
    background-image: url(../images/viktor-theo-MKG01FfX8nM-unsplash.jpg); }
  .portadasTratTips__fondo--electricidad {
    background-image: url(../images/taller-mecanico-guadalajara-3-1.png.webp); }
  .portadasTratTips__fondo--aireacondicionado {
    background-image: url(../images/aire-acondicionado-coche-1.jpg); }
  .portadasTratTips__fondo--calefaccion {
    background-image: url(../images/aire.jpg); }
  .portadasTratTips__fondo--velocimetros {
    background-image: url(../images/¿Adiós\ al\ fraude\ en\ el\ kilometraje__\ Llega\ el\ libro\ de\ mantenimiento\ online.jpg); }
  .portadasTratTips__fondo--tallerintegral {
    background-image: url(../images/taller-mecanico-guadalajara-autofix.jpg.webp); }

.paddingSectionProf {
  padding-top: 40px;
  padding-bottom: 150px; }

.transicionTratamientos {
  transition: all 1s; }

.transicionTratamientos:hover {
  transform: scale(1.1, 1.1); }

.fuenteAzul1 {
  color: #127685;
  font-weight: 500; }

.fondoTrat {
  background-image: linear-gradient(to bottom, white, white, #18A0B5, #168D9F, #127685, #106571, #0C4D56); }
  .fondoTrat--advertencia {
    background-color: yellow; }

.subir {
  position: fixed;
  top: 480px;
  right: 64px;
  display: flex;
  justify-content: flex-end;
  z-index: 999999;
  width: 2%; }

/*FIN Tratamientos-----------------------*/
/*ODONTOTIPS------------------------------------------------------------
------------------------------------------------------------------------*/
.tips {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.fondoTips {
  background-image: linear-gradient(to bottom, white, white, #0C4D56); }

.cuidados-postop-img {
  background-image: url("../assets/img/odontotips/cuidados-postop.jpg");
  background-size: 100%; }

.enfermedades-oc-img {
  background-image: url("../assets/img/odontotips/enfermedades-oc.jpg");
  background-size: 100%; }

.generales-img {
  background-image: url("../assets/img/odontotips/generales.jpg");
  background-size: 100%; }

.higiene-imp-img {
  background-image: url("../assets/img/odontotips/higiene-imp.jpg");
  background-size: 100%; }

.higiene-ort-img {
  background-image: url("../assets/img/odontotips/higiene-ort.jpg");
  background-size: 100%; }

.higiene-prot-img {
  background-image: url("../assets/img/odontotips/higiene-prot.jpg");
  background-size: 100%; }

.mitos-img {
  background-image: url("../assets/img/odontotips/mitos.jpg");
  background-size: 100%; }

.nunca-img {
  background-image: url("../assets/img/odontotips/nunca.jpg");
  background-size: 100%; }

.tecnicas-img {
  background-image: url("../assets/img/odontotips/tecnicas.jpg");
  background-size: 100%; }

/*FIN Odontotips-------------------------*/
/*CONTACTO----------------------------------------------------------------
------------------------------------------------------------------------*/
.botones {
  padding-top: 15px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around; }
  .botones__contacto {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 6px; }

.fondoDatosContacto {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px; }

.flexContacto {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.flexContactoItems {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.prlxFondoContacto {
  /* The image used */
  background-image: url(../assets/img/fondocontacto11.jpg);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* box modeling */
  padding: 0px;
  margin-bottom: 50px; }

.infoContacto {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px; }

.colorGris {
  color: gray; }

.paddingInfoContacto {
  padding: 20px; }

/*-----CARTEL FLOTANTE INDEX----------------------------------------------------------------
------------------------------------------------------------------------*/
.reservaFlotante {
  position: fixed;
  top: 250px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  z-index: 999999; }

.reservaFlotanteClose {
  position: fixed;
  top: 210px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 999999; }

.reservaFlotanteTexto {
  position: fixed;
  top: 253px;
  right: 29px;
  display: flex;
  justify-content: flex-end;
  z-index: 9999999;
  font-weight: 500;
  text-align: center; }

/*-----FIN CARTEL FLOTANTE INDEX------------------------------------------
------------------------------------------------------------------------*/
/*MOBILE------------------------------------------------------------------
------------------------------------------------------------------------*/
@media only screen and (max-width: 769px) {
  .botonCartelMobile {
    transform: translate(208px, -89px);
    font-size: 12px; }
  .portadaMobile {
    background-image: url(../assets/img/portadamobile.jpg);
    background-size: 100%;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    padding-left: 185px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0px;
    background-repeat: no-repeat;
    padding-top: 0px; }
  .botonProfMobile {
    transform: translate(272px, -51px);
    width: 44%;
    font-size: 13px; }
  .encabezadosMob {
    transform: translate(121px); }
  .equipoIndexMobile {
    background-image: url(../assets/img/fondoequipo11.jpg);
    background-size: 100%; }
  .textoCentradoMob {
    text-align: center; }
  .fuente1Mobile {
    font-size: 19px; }
  .fuente2Mobile {
    font-size: 14px; }
  .posicionNombresMob {
    transform: translate(-52px, 113px); }
  .whatsappMobile {
    position: fixed;
    top: 570px;
    right: 2px;
    display: flex;
    justify-content: flex-end;
    transform: translate(-12px, -96px);
    width: 13%; }
  .fondoContactoMobile {
    background-attachment: inherit;
    background-image: url(../assets/img/fondocontactovertical3.jpg);
    background-repeat: repeat; }
  .rrssMobile {
    transform: translate(-16px);
    display: flex;
    flex-direction: row; }
  .centrarItemsMobile {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .menuNavMobile {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px; }
  .logoNavMobile {
    width: 35%; }
  .textoCentradoMobile {
    text-align: center; }
  .flexProfMobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; }
  .subirMobile {
    position: fixed;
    top: 485px;
    right: 19px;
    display: flex;
    justify-content: flex-end;
    transform: translate(-12px, -96px);
    width: 6%; } }

/*Fin MOBILE----------------------------*/
