/*COLORS-------------------------------------------------------------------
--------------------------------------------------------------------------*/


$blue1:linear-gradient(to bottom, white, #1CB6CE);
$blue1Invertido:linear-gradient(to bottom, #1CB6CE, white);
$blue2:#18A0B5;
$blue3:#168D9F;
$blue4:#127685;
$blue5:#106571;
$blue6:#0C4D56;
$rojo-pastel:#FF6961;
$blue0:#1CB6CE;
$white:white;
$gray1:#E6E6E6;
$gray2:#CCCCCC;
$gray3:#B3B3B3;
$gray4:#999999;
$gray5:#808080;
$gray6:#666666;
$gray7:#4D4D4D;
$gray8:#333333;
$gray9:#1A1A1A;
$black:black;




/*Fin COLORS---------------------------*/